@font-face {
  font-family: 'Urbanist';
  src: url('../asset/font/Urbanist-Regular.ttf');
}
body{
  font-family: 'Urbanist' !important;
  color: #724500 !important;
  /* font-weight: 400; */
}
body .split-screen{
  background: #fff;
}

/* button */
a.btn.btn-primary{
  color: #fff ;
  background-color: #E49B2D ;
  padding: 10px 24px ;
  border: 1px solid #E49B2D;
  border-radius: 20px ;
  gap: 10px;
}
a.btn.btn-primary:hover{
  color: #fff;
  /* font-weight: 600; */
  background-color: #724500 ;
  border: 1px solid #724500;
}
.btn-secondary{
  color: #E49B2D;
  background: none;
  border: 1px solid #E49B2D;
  padding: 10px 24px;
  border-radius: 20px;
  gap: 10px;
}
.btn-secondary:hover{
  color: #fff;
  background-color: #724500;
}

/* landing page */
.navbar-landing{
  margin: 20px 60px;
}
.navbar-landing .navbar-nav{
  gap: 14px;
}
.hero .text-wrapper{
  width: 500px;
}
.hero-title{
  font-weight: 700;
  margin-bottom: 26px;
}
.hero-subtitle{
  font-size: 20px;
  margin-bottom: 30px;
}
@media only screen and (max-width: 980px) {
  .navbar-landing{
    margin: 20px 24px;
  }
  .hero .text-wrapper{
    width: auto;
    justify-content: start;
  }
  .hero img{
    width: 300px;
  }
}
@media only screen and (max-width: 766px){
  .hero img{
    content-visibility: hidden;
  }
}

/* login and register */
.split-screen{
  display: flex;
  flex-direction: column;
}
.auth-left, .auth-right{
  display: flex;
  justify-content: center;
}
.auth-right{
  align-items: center;
}
.register-right{
  display: flex;
  justify-content: center;
  align-items: start;
  height: min-content;
  overflow-x: hidden;
  overflow-y: auto;
  margin-top: 20px;
}
.auth-left{
  /* background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.5)),
  /* url('../asset/img/login-img.png'); */
  background-color: #724500;
  background-size: cover;
  align-items: center;
  }
.auth-left h5{
  color: #fff;
}
.auth-left .copy{
  color: #fff;
  text-align: left;
}
.auth-left h5, .auth-right h4, .register-right h4{
  font-weight: 700;
  font-size: 32px;
}
.auth-right .copy, .register-right .copy{
  width: 421px;
}
.input-auth .btn{
  width: 421px;
  margin-top: 42px;
}
.input-auth a{
  font-weight: 700;
  text-decoration: none;
  color: #885303;
}
.input-auth a:hover{
  color: #d69a3f;
}
@media screen and (min-width: 900px){
  .split-screen{
    flex-direction: row;
    height: 100vh;
  }
  .auth-left, .auth-right, .register-right{
    display: flex;
    width: 50%;
    height: auto;
  }
}
@media screen and (max-width: 899px){
  .auth-right .copy, .register-right .copy{
    margin-top: 30px;
  }
  .auth-left .copy{
    padding: 24px;
    text-align: center;
  }
}

/* form control */
.input-auth .form-control, .input-auth .form-select{
  background-color: #f5f3ee !important;
}
.form-control, .form-select{
  border-radius: 12px !important;
  /* height: 42px !important; */
}
.form-control.group{
  border-radius: 12px 0px 0px 12px !important;
}

/* navbar template */
.navbar-light{
  background-color: #fff !important;
  height: 68px !important;
}

/* iconify */
iconify-icon{
  font-size: 24px;
}
iconify-icon.secondary{
  font-size: 20px;
  color: #724500;
}
.sidebar-item.active>.sidebar-link iconify-icon{
  color: #724500;
}
.icon-left iconify-icon{
  vertical-align: middle;
  font-size: 18px;
  margin-right: 5px;
  margin-top: -5px;
}
iconify-icon.stat-icon{
  font-size: 30px;
  color: #ffc46b;
}

/* patien-list */
.patient-list{
  padding: 14px 0;
}
.avatar-img img{
  width: 34px;
  height: 34px;
  border-radius: 50%;
}
.avatar-name h6{
  margin-bottom: -4px;
}

/* doctor lis */
img.profile-img{
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

/* sidebar template */
.sidebar-header img{
  width: 100px;
}
.sidebar-wrapper .sidebar-header img{
  height: auto !important;
}
.menu-logout{
  position: relative;
}

/* button index */
.button{
  float: right !important;
}
@media screen and (max-width: 768px){
  .button{
    float: left !important;
    margin-bottom: 14px;
  }
}

/* button icon */
a.btn.btn-icon{
  background-color: #DDE2EC;
  border-radius: 5px;
  width: 28px;
  height: 28px;
}
button.btn.btn-icon{
  background-color: #DDE2EC;
  border-radius: 5px;
  width: 28px;
  height: 28px;
}
.btn-icon iconify-icon{
  color: #938a60;
  font-size: 15px;
  margin-left: -4px;
}

/* icon with text*/
.icon-txt{
  font-size: 14px;
}
.btn-txt iconify-icon{
  font-size: 13px;
}

/* button color */
.btn-green{
  background-color: #7cc554 !important;
  color: #fff !important;
  border-radius: 10px !important;
}
.btn-green:hover{
  background-color: #70b34c !important;
}
.btn-red{
  background-color: #fc4f1b !important;
  color: #fff !important;
  border-radius: 10px !important;
}
.btn-red:hover{
  background-color: #e04b1e !important;
}
.btn-purple{
  background-color: #E49B2D !important;
  color: #fff !important;
  border-radius: 10px !important;
}
.btn-purple:hover{
  background-color: #724500!important;
}
.btn-grey{
  background-color: #DDE2EC !important;
  color: #938a60 !important;
  border-radius: 10px !important;
}
.btn-grey:hover{
  background-color: #cfd5e0 !important;
}

/* list jadwal */
.d-flex.list-jadwal{
  flex-direction: column !important;
}
.list-jadwal{
  overflow-y: scroll;
  height: 195px;
}
.list-jadwal .card{
  background-color: #f8f9fa;
}

.list-jadwal::-webkit-scrollbar-track {
  /* border: 1px solid #000; */
  padding: 2px 0;
  background-color: #F1F1F1;
  border-radius: 10px;
}

.list-jadwal::-webkit-scrollbar {
  width: 10px;
}

.list-jadwal::-webkit-scrollbar-thumb {
  border-radius: 10px;
  /* box-shadow: inset 0 0 6px rgba(0,0,0,.3); */
  background-color: #c1c1c1;
  /* border: 1px solid #000; */
}

/* list card */
.list-card{
  background-color: #f8f9fa;
  border-radius: 5px;
  height: 70px;
}
.list-card-body{
  padding: 8px 20px;
}
.list-card-body h6{
  margin-bottom: -1px;
}

/* table action */
td .table-action{
  display: flex !important;
}

/* .btn-icon-trash iconify-icon{
  color: #FF7144;
  font-size: 15px;
  margin-left: -4px;
} */
/* input foto */
/* .form-control.input-foto{
  width: 120px;
} */
/* .profile .round{
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #e6eaee;
  width: 32px;
  height: 32px;
} */